.App {
  text-align: center;
}

.App-logo {
  display: block;
  height: 50px;
}

.App-header {
  /* background-color: #FDF4EA; */
  /* background-color: #FCCDBF; */
  background: linear-gradient(to right, #FDF4EA , #FCCDBF);
  color: #03363D;
  display: flex;
  padding: 5px;
}

.App-title {
  font-size: 1.5em;
  margin: 10px auto;
  padding-right: 100px;
  width: 500px;
}

.App-intro {
  font-size: large;
}
