.App {
  text-align: center;
  background-size: cover;
  height: 100vh;
}

.header {
  background: linear-gradient(to right, #FDF4EA , #FCCDBF);
  color: #03363D;
  display: flex;
  padding: 5px;
}

.header__logo {
  display: block;
  height: 50px;
}

.header__title {
  font-size: 1.5em;
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px auto;
  padding-top: 5px;
  padding-left: 50px;
  width: 500px;
}

.ticket-list {
  border-radius: 10px;
  color: #03363D;
  background: white;
  margin: 20px auto;
  padding: 10px;
  width: 600px;
  box-shadow: 0px 3px 15px rgba(33, 47, 128, 0.2);
}

.ticket-list-item {
  border: 1px solid lightgray;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
}

.ticket-list-item:hover {
  background: #FDF4EA;
  transition: .9s;
}

.ticket-list-item__header {
  text-align: left;
  padding-left: 10px;
}

.date {
  color: grey;
}

.text-left {
  text-align: left;
  padding-left: 10px;
}

.right {
  float: right;
  padding-right: 10px;
}

.error {
  background: white;
  border: 2px solid salmon;
  border-radius: 5px;
  width: 400px;
  padding: 5px;
  margin: 40px auto;
}

.error__message {
  color: red;
}

.page-selector {
  max-width: 500px;
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 1rem auto;
  overflow: hidden;
  padding: 5px;
}

.page-selector__link {
  border: .5px solid lightgrey;
  padding: 10px;
  user-select: none;
  cursor: pointer;
}

.current-page {
  background: #FCCDBF;
  color: white;
}

.page-selector__link:hover {
  background: #FDF4EA;
  color: white;
}

.page-selector__link:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.page-selector__link:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* Modal */
.modal {
  background: white;
  border: .5px dotted lightgray;
  border-radius: 10px;
  width: 700px;
  outline: none;
  padding: 10px;
  text-align: center;
  margin-top: -200px;
  box-shadow: 0px 3px 15px rgba(33, 47, 128, 0.2);
}

.ReactModalPortal > div {
  opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 200ms ease-in-out;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
  opacity: 0;
}

.button {
  background: #FCCDBF;
  border: none;
  padding: 10px;
  font-weight: 400;
  font-size: 1.1rem;
  border-radius: 10px;
  margin: 0 auto;
  width: 200px;
}

.dotted-line {
  border-bottom: .5px solid lightgray;
  padding-bottom: 10px;
}

.ticket-modal__description {
  padding: 15px;
  text-align: left;
  margin: 10px;
  border-bottom: 0.5px dotted lightgray;
}

.loader {
  margin: 200px auto;
}
